body{
    background-color: rgb(56, 101, 107);
    color:white;
}

.heading{
    width: 80%;
    font-size: 30px;
    font-family: 'Updock', cursive;
}

#camera {
    border: 2px dashed cadetblue;
    width: 350px;
    height: 300px;
}

.name_of_faces{
    font-size: 17px;
}